<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <title>Algorithm Visualizer</title>
    </head>
    <body>
        <input type="text" id="arrayInput" placeholder="Enter numbers separated by commas">

        <select id="algorithmSelect">
            <option value="bubble">Bubble</option>
            <option value="selection">Selection</option>
            <option value="insertion">Insertion</option>
            <option value="merge">Merge</option>
        </select>

        <select id="modeSelect">
            <option value="visual">Visual</option>
            <option value="benchmark">Benchmark</option>
        </select>

        <button onclick="sendArray()"">Sort</button>
        <button onclick="generateRandom()">Generate Array</button>
    </body>
</html>